<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{employee?.firstName}} {{employee?.lastName}}</mat-card-title>
    </mat-card-header>
    <div class="example-card-content">
      <p><b>Date of Birth:</b> {{ employee?.dateOfBirth | date}}</p>
      <p><b>Employment Start Date:</b> {{ employee?.employmentStartDate |date}}</p>
      <p><b>Gender:</b> {{genders[employee.gender] }}
        <mat-icon>{{genders[employee.gender] | genderIcon }}</mat-icon>
      </p>
      <b>Identification Number: {{employee?.identificationNumber}}</b>
      <h2>Employee Roles:</h2>
      <div class="roles-list">
        <ul class="roles-list">
          <li *ngFor="let r of employee?.roles" class="role-item">
            <mat-icon class="role-icon">person_pin</mat-icon>
            <span class="role-details">{{ r.role.roleName }} - {{ r.entryDate | date }}</span>
            <mat-icon class="management-icon">
              {{ r.role.isManagementRole | managementIcon }}
            </mat-icon>
          </li>
        </ul>
      </div>
    </div>
    <mat-card-actions class="example-card-actions">
      <button mat-button (click)="closeDialog()">
        <mat-icon>arrow_back</mat-icon>
        Return
      </button>
    </mat-card-actions>
  </mat-card>
</div>